
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


h1{
    font-family: 'Open Sans', sans-serif;    
    color: $secundary;
    text-align: center;
    border: 1px solid black;
}