.about
    .about__img
        img(src="img/camara.png")
    p.about__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis 
        | aliquam vestibulum. Pellentesque non arcu fringilla felis vehicula 
        | egestas a eget libero. Nam porta, purus dignissim gravida mollis, 
        | diam felis pharetra mauris, in porta lorem dui non orci. Praesent 
        | venenatis dolor et suscipit consectetur. Mauris facilisis neque sem, 
        | laoreet tristique libero ornare in.