.about
    .about__img
        img(src="img/about.jpg")
    p.about_description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis 
        | aliquam vestibulum. Pellentesque non arcu fringilla felis vehicula 
        | egestas a eget libero. Nam porta, purus dignissim gravida mollis, 
        | diam felis pharetra mauris, in porta lorem dui non orci. Praesent 
        | venenatis dolor et suscipit consectetur. Mauris facilisis neque sem, 
        | laoreet tristique libero ornare in. Etiam volutpat commodo lacus, quis 
        | volutpat lectus dictum vitae. Maecenas maximus pretium vehicula. 
        | Suspendisse eleifend, augue id fermentum vestibulum, felis nisl blandit 
        | nulla, ut convallis elit neque a lacus. Maecenas bibendum scelerisque 
        | magna in placerat. Vivamus at ipsum eu quam commodo euismod. Maecenas 
        | ornare, ex vel eleifend semper, justo massa tempor leo, sed bibendum 
        | nibh lorem sed mauris.     