.contact
    h2.contact__title.section__title Contacto
    p.contact__description.section__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis 
        | aliquam vestibulum. Pellentesque non arcu fringilla felis vehicula 
        | egestas a eget libero. Nam porta, purus dignissim gravida mollis, 
        | diam felis pharetra mauris, in porta lorem dui non orci. Praesent 
        | venenatis dolor et suscipit consectetur. Mauris facilisis neque sem, 
        | laoreet tristique libero ornare in.
    form.form--contact
        input(name="name" id="name" placeholder="Nombres").form__item
        input(type="email" name="email" id="email" placeholder="Correo electronico").form__item
        textarea(name="message" id="massage" placeholder="Escribe tu mensajes" rows="8").form__item
        input(type="submit" value="Contratame").form__item.form__submit