doctype html
html(lang="es")
    head
        title CSS Desde Cero - Proyecto final
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
        link(href="css/style.css" rel="stylesheet")
    body                
        header
            block header
        nav
            block nav
        .banner-container
            block banner
        .gallery-container
            block gallery
        .about-container
            block about
        .contact 
            block contact
        footer
            block footer


